TBD_USERNAME=your_username
TBD_PASSWORD=your_password
TBD_TOTP_SECRET=BASE32SECRETHERE
TBD_BASE_URL=https://www.torrentbd.net
FLARESOLVERR_URL=http://flaresolverr:8191
PROXY_API_KEY=changeme
CACHE_TTL_SECONDS=300
PORT=5000
